@model ElasticSearchDemo.Models.SearchResultModel
@{ ViewData["Title"] = "Home Page"; }

<h1>Search</h1>
<table style="width:100%">
    <tr>
        <td colspan="2">
            <label for="term">Search term: </label>
            <input type="text" id="term" name="term" value="@Model.SearchTerm">
            <button type="button" id="btnSearch">Search</button>
            <br><br>

        </td>
    </tr>
    <tr>
        <td>
            Filters:
            <div style="clear:both;"></div>
            @if (Model.FilterGroups != null && Model.FilterGroups.Any())
            {
                foreach (var filterGroup in Model.FilterGroups)
                {
                    if (filterGroup.Filters != null && filterGroup.Filters.Any())
                    {
                        <strong>@filterGroup.Label</strong>
                        <ul>
                            @foreach (var filter in filterGroup.Filters)
                            {
                                <li>@filter.Label (@(filter.Count))</li>
                            }
                        </ul>
                        <div style="clear:both;"></div>
                    }
                }
            }
            else
            {
                <text>No filter available</text>
            }
        </td>
        <td>
            <span>@Model.NbTotalResults</span> result(s)
            <div style="clear:both;"></div>
            @if (Model.Results != null && Model.Results.Any())
            {
                <ul>
                    @foreach (var person in Model.Results)
                    {
                        <li>@person.Id - @person.Firstname @person.Lastname</li>
                    }
                </ul>
            }
            else
            {
                <text>No result found</text>
            }
            <div style="clear:both;"></div>
            Page @Model.CurrentPage on @Model.TotalPages (@Model.PageSize items per page)
        </td>
    </tr>
</table>

@section scripts {
    <script type="text/javascript">
        $(function () {

            $('#btnSearch').click(function () {
                search($('#term').val(), @Model.CurrentPage);
            });

        });

        function search(term, page) {
            console.log('Searching...');

            var data = {
                term,
                page
            };
            location.href = '/?' + $.param(data);
        }
    </script>
}
